.search-field {
	margin-left: 3%;
	height: 45px;
	font-size: 22px;
	line-height: 24px;
	background-color: $color__grey;
	border: none;
	width: 100%;
}

.search-form {
	flex-grow: 1;
}

@media (max-width:398px) {
	.search-field {
		height: 36px;
		font-size: 18px;
	}
}
