<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" prefix="og: http://ogp.me/ns#">
<head>
	<title>Список страниц „Italy Group“</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i&subset=cyrillic" rel="stylesheet">
	<style>
		* {
			margin: 0;
			padding: 0;
		}
		body {
			font: normal normal 16px/1.4 'PT Sans', Helvetica, Arial, sans-serif;
			padding: 5%;
			/*max-width: 940px;*/
			/*margin: 0 auto;*/
		}
		a {
			color: #05549A;
			display: inline-block;
			border-bottom: 1px solid rgba(5, 84, 154, .2);
			text-decoration: none;
			line-height: 1;
		}
		a:hover {
			color: #A70000;
			border-bottom-color: rgba(167, 0, 0, .2);
		}
		h1 {
			margin-bottom: 30px;
			font-weight: normal;
			line-height: 1;
		}
		ul {
			list-style: none;
		}
		ul i {
			display: inline-block;
			background: #eee;
			color: #666;
			font-size: 12px;
			font-style: normal;
			padding: 1px 3px;
			border-radius: 3px;
		}
		.disabled {
			opacity: .5;
		}
		body > ul > li {
			margin-bottom: 15px;
		}
		body ul ul {
			font-size: 15px;
			margin-left: 25px;
		}
		body ul ul li {
			margin-top: 3px;
		}
		[data-ready] {
			position: relative;
			display: inline-block;
		}
		[data-ready]:after {
			content: attr(data-ready) '%';
			position: absolute;
			left: 100%;
			color: rgba(0, 0, 0, 0.35);
			white-space: nowrap;
			font-size: 12px;
			margin: 4px 0 1px 6px;
			bottom: 0;
		}
	</style>
</head>
<body>
	<h1>Список страниц</h1>
	<ul>
		<li>
			<a href="/index" data-ready="100">Главная страница</a>
		</li>
		<li>
			<span>Italy Group</span>
			<ul>
				<li><a href="/about" data-ready="90">О группе</a></li>
				<li><a href="/partners" data-ready="100">Партнёры</a></li>
				<li><a href="/jobs" data-ready="100">Работа</a></li>
			</ul>
		</li>
		<li>
			<a href="/restaurant" data-ready="100">Рестораны</a>
			<ul>
				<li><a href="/restaurant-item" data-ready="80">Страница ресторана</a></li>
			</ul>
		</li>
		<li>
			<a href="/afisha" data-ready="100">Афиша</a>
		</li>
		<li>
			<a href="/loyalty" data-ready="100">Программа лояльности</a>
		</li>
		<li>
			<a href="/contacts" data-ready="100">Контакты</a>
		</li>
		<li>
			<a href="/message" data-ready="100">Оставить отзыв</a>
		</li>
		<li>
			<a href="/page" data-ready="100">Типовая страница</a>
		</li>
		<li>
			<a href="/404" data-ready="100">Ошибка 404</a>
		</li>
		<li>
			<a href="/403" data-ready="100">Ошибка 403</a>
		</li>
	</ul>
</body>

</html>
