<div class="popup hidden">
<div class="popup__login">
<div class="popup__login-header">
  <span class="popup__login-name">Войти</span>
  <button class="cancel-button cancel-button--popup"></button>
</div>
<div class="popup__login-social">
  <a class="ico-soc ico-soc--fb">
    <div class="ico-soc__logo" data-dynamic="fb"></div>
  </a>
  <a class="ico-soc ico-soc--vk">
    <div class="ico-soc__logo" data-dynamic="vk"></div>
  </a>
</div>
</div>
</div>
